{% extends "base.html" %}
{% block content %}

<div class="text-left">
    {% if edit_address %}
        <form action="{{ url_for('update_address')}}" method = 'POST'>
            <div class="form-group col-md-5">
                <label for="street_1">Address</label>
                <input type="text" maxlength="250" class="form-control" name="street_1" placeholder="{% if address.street_1 %}{{address.street_1}}{% endif %}">
            </div>
            <div class="form-group col-md-5">
                <label for="street_2">Address 2</label>
                <input type="text" maxlength="250" class="form-control" name="street_2" placeholder="{% if address.street_2 %}{{address.street_2}}{% endif %}">
            </div>
            <div class="form-row col-md-5">
                <div class="form-group w-50">
                <label for="city">City</label>
                <input type="text" maxlength="250" class="form-control" name="city" placeholder="{% if address.city %}{{address.city}}{% endif %}">
                </div>
                <div class="form-group w-25">
                <label for="state">State</label>
                <input type="text" maxlength="250" class="form-control" name="state" placeholder="{% if address.state %}{{address.state}}{% endif %}">
                </div>
                <div class="form-group w-25">
                <label for="zip_code">Zip</label>
                <input type="text" maxlength="5" class="form-control" name="zip_code" placeholder="{% if address.zip_code %}{{address.zip_code}}{% endif %}">
                </div>
            </div>
            <button type="submit" class="btn btn-secondary btn-sm">Save Address</button>
        </form>
    {% else %}
        <form action="{{ url_for('cart_edit_address')}}" method = 'POST'>
            <div class="form-group"><div class="col-3">
                <label for="address">Delivery Address:</label><br/>
                <textarea name="address" readonly class="form-control-plaintext" rows="2">{% if address_string %}{{address_string}}{% endif %}</textarea><br/>
                <input type='submit' value='Update Address' class='btn btn-secondary btn-sm'>
            </div></div>
        </form>
    {% endif %}

    <p>
        {{ delivery_time }}
    </p>
    
    {% if items %}
    <ul class="list-group">
        {% for i in items %}
            <li class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{i.name}}</h5>
                ${{i.price}}
                </div>
                <p class="mb-1">
                    <form action="{{ url_for('update_cart', menu_id=i.menu_item_id)}}" method = 'POST'>
                        <div class="form-group">
                            <dl>
                                <dt><label for="quantity">Quantity</label></dt>
                                <dd>
                                    <input type='text' size='1' name='quantity' value = '{{i.quantity}}' required>
                                    <input type='submit' value='Update' class='btn btn-secondary btn-sm'>
                                    <a href="{{url_for('remove_from_cart', menu_id=i.menu_item_id)}}" class="btn btn-danger btn-sm">Delete</a>
                                </dd>
                            </dl>
                            
                        </div>
                    </form>
                </p>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p> You currently have no items. </p>
    {% endif %}
    <p>Subtotal: ${{subtotal}}</p>
    <p>Delivery Fee: ${{fee}}</p>
    <p>Tax (7%): ${{tax}}</p>
    <p>Total: ${{total}}</p>
    <a href={{ url_for('place_order')}} class="btn btn-success btn">Place Order</a>
    <p><a href={{ url_for('show_menu')}}>Back to menu</a></p>
</div>
{% endblock %}