{% extends "base.html" %}
{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Order Complete</h1>
        </div>
    </div>

    <div class = 'pane'>
        Thank you for your order!<br/>
        We estimate your order will be delivered at {{delivery_time}}<br/>
        Please have your payment method ready when the driver arrives.
        <p>
            <iframe width="600" height="450" frameborder="0" style="border:0" src={{map_url}} allowfullscreen></iframe>
        </p>
{% endblock %}