{% extends "base.html" %}
{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Cantina De Santiago</h1>
        </div>
    </div>

    <div class = 'pane'>        
        
        {% with messages = get_flashed_messages() %}
        
            {% if messages %}
            <div class="alert alert-primary" role="alert">
                <ul>
                {% for message in messages %}
                <li><strong>{{message}}</strong></li>
                {% endfor %}
                </ul>
            </div> 
            {% endif %}
            
        {% endwith %}
            
        {% if items %}
            
            <h2>Most Popular Items</h2>
            <div class="card-columns">
            {% for i in top_items %}

                <div class="card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">{{i.name}}</div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">{{i.description}}</h6>
                        <p class="card-text">${{i.price}}</p>
                    </div>
                    <div class="card-footer" align="right">
                        <a href={{ url_for('add_to_cart', menu_id=i.menu_item_id) }} class="btn btn-primary btn-sm">Add</a>
                    </div>
                </div>

            {% endfor %}
            </div>

            <h2>Appetizers</h2>
            <div class="card-columns">
            {% for i in items %}
                {% if i.course == 'Appetizer' %} 

                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header">{{i.name}}</div>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">{{i.description}}</h6>
                            <p class="card-text">${{i.price}}</p>
                        </div>
                        <div class="card-footer" align="right">
                            <a href={{ url_for('add_to_cart', menu_id=i.id) }} class="btn btn-primary btn-sm">Add</a>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}
            </div>

            <h2>Entrees</h2>
            <div class="card-columns">
            {% for i in items %}
                {% if i.course == 'Entree' %}

                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header">{{i.name}}</div>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">{{i.description}}</h6>
                            <p class="card-text">${{i.price}}</p>
                        </div>
                        <div class="card-footer" align="right">
                            <a href={{ url_for('add_to_cart', menu_id=i.id) }} class="btn btn-primary btn-sm">Add</a>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}
            </div>

            <h2>Desserts</h2>
            <div class="card-columns">
            {% for i in items %}
                {% if i.course == 'Dessert' %} 

                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header">{{i.name}}</div>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">{{i.description}}</h6>
                            <p class="card-text">${{i.price}}</p>
                        </div>
                        <div class="card-footer" align="right">
                            <a href={{ url_for('add_to_cart', menu_id=i.id) }} class="btn btn-primary btn-sm">Add</a>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}
            </div>

            <h2>Drinks</h2>
            <div class="card-columns">
            {% for i in items %}
                {% if i.course == 'Drink' %} 

                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header">{{i.name}}</div>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">{{i.description}}</h6>
                            <p class="card-text">${{i.price}}</p>
                        </div>
                        <div class="card-footer" align="right">
                            <a href={{ url_for('add_to_cart', menu_id=i.id) }} class="btn btn-primary btn-sm">Add</a>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}
            </div>

        {% else %}
            <p> You currently have no menu items. </p>
        {% endif %}
        </div>

{% endblock %}