{% extends "base.html" %}
{% block content %}   

    {% if items %}
    <div class="col-md-13">
        <h2>Most Popular Items</h2>
        <div id="top-items" class="card-columns" class="card-columns text-center">
        {% for i in top_items %}
            <div class="card bg-light mt-5" style="max-width: 18rem;">
                <div class="card-header">
                    <div class="row">
                        <div class="col-8">
                            <h5><strong>{{i.name}}</strong></h5>
                        </div>
                        <div class="col" align="right">
                                <a href={{ url_for('add_to_cart', menu_id=i.menu_item_id) }} class="btn btn-secondary btn-sm">Add</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2">{{i.description}}</h6>
                    <p class="card-text" align="right">${{i.price}}</p>
                </div>
            </div>
        {% endfor %}
        </div>
        <h2>Appetizers</h2>
        <div id="appetizers" class="card-columns text-center">
        {% for i in items %}
            {% if i.course == 'Appetizer' %} 
                {% include "menuItemCard.html" %}
            {% endif %}
        {% endfor %}
        </div>
        <h2>Entrees</h2>
        <div id="entrees" class="card-columns text-center">
        {% for i in items %}
            {% if i.course == 'Entree' %}
                {% include "menuItemCard.html" %}
            {% endif %}
        {% endfor %}
        </div>

        <h2>Desserts</h2>
        <div id="desserts" class="card-columns text-center">
        {% for i in items %}
            {% if i.course == 'Dessert' %} 
                {% include "menuItemCard.html" %}
            {% endif %}
        {% endfor %}
        </div>

        <h2>Drinks</h2>
        <div id="drinks" class="card-columns text-center">
        {% for i in items %}
            {% if i.course == 'Drink' %} 
                {% include "menuItemCard.html" %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% else %}
        <p>There are currently no menu items available. </p>
    {% endif %}
    <br/><br/>

{% endblock %}